* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background: black;
  margin: 0;
  padding: 15px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  #logo {
    color: white;
  }
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    li {
      &:last-child {
        a {
          border-right: none;
        }
      }
      a {
        color: rgb(11, 219, 219);
        text-decoration: none;
        transition: 0.3s;
        font-weight: bold;
        padding: 0px 20px;
        border-right: 2px solid white;
        &:hover {
          color: darkorange;
        }
      }
    }
  }
}

body {
  background: #f4f4f4;
}

.content {
  background: white;
  margin: 25px 5%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  h1 {
    font-size: 1.5rem;
  }
}